---
http_interactions:
- request:
    method: get
    uri: http://tele-task.de/feeds/series/948/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Last-Modified:
      - Wed, 10 Jul 2013 16:06:58 GMT
      Content-Type:
      - application/rss+xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<rss xmlns:atom=\"http://www.w3.org/2005/Atom\"
        xmlns:itunes=\"http://www.itunes.com/dtds/podcast-1.0.dtd\" version=\"2.0\"
        xmlns:itunesu=\"http://www.itunesu.com/feed\"><channel><title>Data Profiling
        and Data Cleansing (SS 2013) - www.tele-TASK.de</title><link>http://www.tele-task.de/archive/series/overview/948/</link><description>According
        to Wikipedia, data profiling is the process of examining the data available
        in an existing data source [...] and collecting statistics and information
        about that data. It encompasses a vast array of methods to examine data sets
        and produce metadata. Among the simpler results are statistics, such as the
        number of null values and distinct values in a column, its data type, or the
        most frequent patterns of its data values. Metadata that are [...]
